.idea
.DS_Store
*.lock
.gradle/7.5/dependencies-accessors/gc.properties
*.bin
.gradle/7.5/gc.properties
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/file-system.probe
/build/
